@import "icons.scss";
@import "vars.scss";

.playlist-information-wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &__inner {
        padding: $innerElementPaddingY $innerElementPaddingX;
        background-color: rgba(var(--spice-rgb-main-secondary), 0.5) !important;
        border-radius: 8px;
    }

    hr {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(var(--spice-rgb-selected-row), .1);
        margin-block: 0;
        margin-bottom: 1rem;
    }
}

.contents {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .information-row {
        border: 1px solid rgba(var(--spice-rgb-selected-row), .1);
    }
}

.information-row {
    padding: .5rem;
    vertical-align: center;
    border-radius: 8px;
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    &.title {
        font-weight: 700;
        font-size: 1.7rem;
        max-height: fit-content;
        max-height: 3rem;
        transition: color .2s ease-out;
    }
}

.dropdown {
    max-height: 5rem;

    &.active {
        max-height: fit-content;
    }

    &:not(.active) {
        &>*:not(.dropdown-controls) {
            display: none;
        }
    }

    &-controls {
        column-gap: 1rem;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        padding-bottom: 1rem;

        &:hover {
            cursor: pointer;

            .title {
                color: var(--spice-button-active);
            }

            .button-dropdown {
                background-color: var(--spice-button-active);
                cursor: pointer;
                transform: scale(1.04);
            }
        }

        .dropdown-toggle-wrap {
            padding: .4rem;
        }

        .button-dropdown {
            height: 100%;
            aspect-ratio: 1;
            background-color: var(--spice-subtext);
            border-radius: 50%;
            box-sizing: border-box;
            outline: 0;
            border: none;

            &__icon {
                padding: 20%;
                background-color: var(--spice-sidebar);
                mask-image: $Ico-chevronDown;
                mask-repeat: no-repeat;
                mask-size: 55%;
                mask-position: center;
                width: 100%;
                height: 100%;
                transition: transform .3s ease-out;
            }
        }
    }

    &.active {
        .button-dropdown__icon {
            transform: scaleY(-1);
        }
    }
}

.pieChart-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    height: fit-content;

    &>div {
        height: 100%;
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: .6rem;
        }
    }

    &__pie {
        width: 100%;
        max-width: 400px;
        aspect-ratio: 1;
        margin: 0 auto;
        padding: 1%;

        .recharts-tooltip-wrapper {
            background-color: transparent !important;
        }

        .recharts-sector {
            stroke: var(--spice-main-secondary);
            stroke-width: 1%;
        }

        .pieChart-tooltip {
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(var(--spice-rgb-main-secondary), .5);
        }
    }

    &__additional {
        .list {
            display: flex;
            flex-direction: column;
            gap: .3rem;

            .information-line {
                width: 100%;
                display: inline-flex;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: wrap;
                padding: .2rem 0;

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(var(--spice-rgb-selected-row), .1);
                }

                p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    line-height: 130%;
                }


                .value {
                    width: 100%;
                    text-align: right;
                    display: inline-flex;
                    justify-content: flex-end;

                    b {
                        width: fit-content;

                        &.canPlay {
                            position: relative;
                            overflow: visible;
                            margin-left: 1rem;

                            &::before {
                                top: 0;
                                content: "";
                                mask-image: $Ico-play;
                                aspect-ratio: 1;
                                height: 100%;
                                display: block;
                                position: absolute;
                                background-color: var(--spice-subtext);
                                height: 100%;
                                mask-repeat: no-repeat;
                                mask-size: 50%;
                                mask-position: center;
                                right: 100%;
                            }

                            &:hover {
                                cursor: pointer;
                                color: var(--spice-text);
                                text-decoration: underline;

                                &::before {
                                    background-color: var(--spice-text);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}